@font-face {
    font-family: 'URW Geometric';
    font-weight: 700;
    font-style: normal;
    src: local('URWGeometric-Bold'),
    url('../fonts/URWGeometric-Bold.woff2') format ('woff2'),
    url('../fonts/URWGeometric-Bold.woff') format ('woff');
    font-display: swap;
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: 600;
    font-style: normal;
    src: local('URWGeometric-SemiBold'),
    url('../fonts/URWGeometric-SemiBold.woff2') format ('woff2'),
    url('../fonts/URWGeometric-SemiBold.woff') format ('woff');
    font-display: swap;
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: 500;
    font-style: normal;
    src: local('URWGeometric-Medium'),
    url('../fonts/URWGeometric-Medium.woff2') format ('woff2'),
    url('../fonts/URWGeometric-Medium.woff') format ('woff');
    font-display: swap;
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: 400;
    font-style: normal;
    src: local('URWGeometric-Regular'),
    url('../fonts/URWGeometric-Regular.woff2') format ('woff2'),
    url('../fonts/URWGeometric-Regular.woff') format ('woff');
    font-display: swap;
}
@font-face {
    font-family: 'URW Geometric';
    font-weight: 300;
    font-style: normal;
    src: local('URWGeometric-Light'),
    url('../fonts/URWGeometric-Light.woff2') format ('woff2'),
    url('../fonts/URWGeometric-Light.woff') format ('woff');
    font-display: swap;
}